# Database for the records which support 2
# colored crossmark overlays

record(longout, "$(P)$(R)Cross1X")
{
   field(DTYP, "Soft Channel")
   field(FLNK, "$(P)$(R)Cross1X_RBV")
   field(OUT, "$(P)$(R)Cross1X_RBV")
}

record(longin, "$(P)$(R)Cross1X_RBV")
{
   field(DTYP, "Soft Channel")
}

record(longout, "$(P)$(R)Cross1Y")
{
   field(DTYP, "Soft Channel")
   field(FLNK, "$(P)$(R)Cross1Y_RBV")
   field(OUT, "$(P)$(R)Cross1Y_RBV")
}

record(longin, "$(P)$(R)Cross1Y_RBV")
{
   field(DTYP, "Soft Channel")
}

record(longout, "$(P)$(R)Cross1Color")
{
   field(DTYP, "Soft Channel")
   field(FLNK, "$(P)$(R)Cross1Color_RBV")
   field(OUT, "$(P)$(R)Cross1Color_RBV")
}

record(longin, "$(P)$(R)Cross1Color_RBV")
{
   field(DTYP, "Soft Channel")
}

record(longout, "$(P)$(R)Cross2X")
{
   field(DTYP, "Soft Channel")
   field(FLNK, "$(P)$(R)Cross2X_RBV")
   field(OUT, "$(P)$(R)Cross2X_RBV")
}

record(longin, "$(P)$(R)Cross2X_RBV")
{
   field(DTYP, "Soft Channel")
}

record(longout, "$(P)$(R)Cross2Y")
{
   field(DTYP, "Soft Channel")
   field(FLNK, "$(P)$(R)Cross2Y_RBV")
   field(OUT, "$(P)$(R)Cross2Y_RBV")
}

record(longin, "$(P)$(R)Cross2Y_RBV")
{
   field(DTYP, "Soft Channel")
}

record(longout, "$(P)$(R)Cross2Color")
{
   field(DTYP, "Soft Channel")
   field(FLNK, "$(P)$(R)Cross2Color_RBV")
   field(OUT, "$(P)$(R)Cross2Color_RBV")
}

record(longin, "$(P)$(R)Cross2Color_RBV")
{
   field(DTYP, "Soft Channel")
}

