#
# Viewer Control Records
#
record( bo, "$(VIEWER):Enable" )
{
    field( PINI, "YES" )
    field( ZNAM, "Disable" )
    field( ONAM, "Enable" )
    field( VAL,  "1" )
    field( DOL,  "$(VIEWER):CC:EnableCallbacks PP MS" )
}

record( bo, "$(VIEWER):EnableROI" )
{
    field( PINI, "YES" )
    field( ZNAM, "Disable" )
    field( ONAM, "Enable" )
    field( VAL,  "0" )
	field( FLNK, "$(VIEWER):EnableROI_Fanout" )
}

# Note: If the BINNING factor is 4 or greater, we consider
# it a thumbnail and adjust if needed to keep the resolution
# less than our std image thumbnail size of 174 x 130
record( calc, "$(VIEWER):Binning" )
{
	field( LOPR, "1" )
	field( INPA, "$(BINNING)" )
	field( INPB, "$(CAM):ArraySizeX_RBV CP MS" )
	field( INPC, "$(CAM):ArraySizeY_RBV CP MS" )
	field( INPD, "$(CAM):Viewers:ThumbnailMaxX CP MS" )
	field( INPE, "$(CAM):Viewers:ThumbnailMaxY CP MS" )
	field( CALC, "MAX(A,MAX( MAX((B+D-1)/D), MAX((C+E-1)/E)))" )
	field( FLNK, "$(VIEWER):Binning_Fanout" )
}

record( longout, "$(VIEWER):ColorMode" )
{
	field( PINI, "YES" )
	field( DOL,  "$(COLOR_MODE)" )
    field( OUT,  "$(VIEWER):CC:ColorMode PP")
}

record( mbbo, "$(VIEWER):OverlayColor" )
{
	field( PINI, "YES" )
	field( ZRST, "White" )
	field( ZRVL, "0" )
	field( VAL,  "0" )
	field( FLNK, "$(VIEWER):OverColor_Fanout" )
}

#
# These records handle fanout of the viewer controls
# They update various records in the viewer as needed
#
record( dfanout, "$(VIEWER):EnableROI_Fanout" )
{
    field( DOL,  "$(VIEWER):EnableROI" )
    field( OMSL, "closed_loop" )
    field( OUTA, "$(VIEWER):ROI:EnableX PP")
    field( OUTB, "$(VIEWER):ROI:EnableY PP")
}

record( dfanout, "$(VIEWER):Binning_Fanout" )
{
    field( DOL,  "$(VIEWER):Binning" )
    field( OMSL, "closed_loop" )
    field( OUTA, "$(VIEWER):ROI:BinX PP MS")
    field( OUTB, "$(VIEWER):ROI:BinY PP MS")
	field( FLNK, "$(VIEWER):SetScale" )
}

record( calcout, "$(VIEWER):SetScale" )
{
	field( INPA, "$(VIEWER):Binning NPP MS" )
	field( CALC, "A*A" )
	field( OUT,  "$(VIEWER):ROI:Scale PP MS" )
}

record( dfanout, "$(VIEWER):OverColor_Fanout" )
{
    field( DOL,  "$(VIEWER):OverColor        NPP MS" )
    field( OMSL, "closed_loop" )
    field( OUTA, "$(VIEWER):OverRed_Fanout   PP MS" )
    field( OUTB, "$(VIEWER):OverGreen_Fanout PP MS" )
    field( OUTC, "$(VIEWER):OverBlue_Fanout  PP MS" )
}

record( dfanout, "$(VIEWER):OverRed_Fanout" )
{
# Stubbed to white for now
    field( DOL,  "255" )
    field( OMSL, "closed_loop" )
    field( OUTA, "$(VIEWER):Over:Cross1:Red PP NMS" )
    field( OUTB, "$(VIEWER):Over:Cross2:Red PP NMS" )
    field( OUTC, "$(VIEWER):Over:Cross3:Red PP NMS" )
    field( OUTD, "$(VIEWER):Over:Cross4:Red PP NMS" )
    field( OUTE, "$(VIEWER):Over:ROI:Red    PP NMS" )
    field( OUTF, "$(VIEWER):Over:Box1:Red   PP NMS" )
}

record( dfanout, "$(VIEWER):OverGreen_Fanout" )
{
# Stubbed to white for now
    field( DOL,  "255" )
    field( OMSL, "closed_loop" )
    field( OUTA, "$(VIEWER):Over:Cross1:Green PP NMS" )
    field( OUTB, "$(VIEWER):Over:Cross2:Green PP NMS" )
    field( OUTC, "$(VIEWER):Over:Cross3:Green PP NMS" )
    field( OUTD, "$(VIEWER):Over:Cross4:Green PP NMS" )
    field( OUTE, "$(VIEWER):Over:ROI:Green    PP NMS" )
    field( OUTF, "$(VIEWER):Over:Box1:Green   PP NMS" )
}

record( dfanout, "$(VIEWER):OverBlue_Fanout" )
{
# Stubbed to white for now
    field( DOL,  "255" )
    field( OMSL, "closed_loop" )
    field( OUTA, "$(VIEWER):Over:Cross1:Blue PP NMS" )
    field( OUTB, "$(VIEWER):Over:Cross2:Blue PP NMS" )
    field( OUTC, "$(VIEWER):Over:Cross3:Blue PP NMS" )
    field( OUTD, "$(VIEWER):Over:Cross4:Blue PP NMS" )
    field( OUTE, "$(VIEWER):Over:ROI:Blue    PP NMS" )
    field( OUTF, "$(VIEWER):Over:Box1:Blue   PP NMS" )
}

